* {
    font-family: fantasy;
    font-size: 20px;
    background-color: darkseagreen;
    text-align:center;
}
/*HEADRS*/
h1 {
    font-size: 40px;
    text-align:center;
    text-shadow: 2px 2px rgb(87, 144, 93);
}

h2 {
    font-size: 30px;
    text-align:center;
    text-shadow: 2px 2px rgb(87, 144, 93);
}
/*SONGS & PLAYLISTS*/
#songs , #playlists {
    text-align:center;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.box {
    border-color: gray;
    border-width: 5px;
    border-style: solid; 
    border-radius: 5px;
    margin: 15px;
    background-color:silver;
}

/*SONGS*/
.img {
    height: 100%;
    width: 20%;
    float: left;
    display:inline-flexbox;
    margin: 5px;;
    border-width: 2px;
    border-style: solid;
    border-color: lavenderblush;
    border-radius: 5px;
}

.text {
    background-color:silver; 
    width: 50%; 
    text-align: left;
    margin-left: 20%;
}

.playing {
    border: green;
    border-width: 10px;
    border-style: solid;
}

